.view-detail {
    position: relative;
    z-index: 2;
    width: 75%;
    margin: 0 auto;
    min-height: 100vh;
    padding: 20px;
    border-radius: 10px;
    background-color: #111;
    border: 2px solid #222;
}
